@{
    ViewBag.Title = "Домашняя страница";
}
@section featured {
    <section>
        <div class="content-wrapper">

        </div>
    </section>
}

<table class="table">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Страна</th>
            <th>Город</th>
            <th>Максимальная стоимость</th>
            <th>Тип</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in ViewBag.Tours)
        {*@
            <tr>
                <td>Иван</td>
                <td>Николайчук</td>
                <td>ivan@example.com</td>
            </tr>
        @*}*@
    </tbody>
</table>